@import 'src/sass/variables'

nav
    padding: 10px 25px
    border-bottom: 2px solid $lightBlue
    background-color: $white
    display: flex
    align-items: center
    justify-content: space-between
    position: sticky
    top: 0
    z-index: 100
    .mobile-logo
        width: 50px
    .menu-container
        position: absolute
        top: 50px
        left: 0
        display: none
        flex-direction: column
        justify-content: space-between
        height: calc( 100vh - 50px )
        background-color: $white
        width: 100%
        z-index: 100
        ul
            list-style: none
            padding: 0
            margin: 25px 0
            li
                display: flex
                align-items: center
                border: 1px solid transparent
                margin: 10px 0
                padding: 0 5px
                &:hover
                    background-color: $hoverBlue
                    border: 1px solid $normalBlue
                    border-radius: 10px
                a
                    display: block
                    color: $darkBlue
                    font-size: 1.1em
                    padding: 5px 0
                    text-decoration: none
                    width: 100%
        img
            display: none
        .nav-username
            display: flex
            justify-content: space-between
            align-items: center
            p
                text-overflow: ellipsis
                overflow: hidden
                white-space: nowrap
                width: 80%

// Desktop styles
@media screen and (min-width: 992px)
    nav
        display: block
        width: auto
        border: none
        padding: 0
        height: 100%
        .menu-icon, .mobile-logo
            display: none
        .menu-container
            position: relative
            top: 0
            display: flex !important
            max-width: 250px
            height: 100vh
            box-sizing: border-box
            padding: 25px
            border-right: 2px solid $lightBlue
            background-color: $white
            img
                display: block
                width: 150px