@import 'src/sass/variables'

.day-task, .day-task div
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between

.day-task
    padding: 0 5px
    border-top: 1px solid transparent 
    border-bottom: 1px solid transparent
    &:hover
        background-color: $hoverBlue
        border-top: 1px solid $darkBlue 
        border-bottom: 1px solid $darkBlue
    