@import 'src/sass/variables'

.calendar-day 
    background-color: $white
    border: 1px solid $normalBlue
    cursor: pointer
    padding: 10px
    &:nth-child(1)
        border-radius: 22px 0 0 0
    &:nth-child(7)
        border-radius: 0 22px 0 0
    &:nth-child(29)
        border-radius: 0 0 0 22px
    &:nth-child(35)
        border-radius: 0 0 22px 0
    &:hover
        background-color: $hoverBlue
    .calendar-day-task 
        text-overflow: ellipsis
        overflow: hidden
        white-space: nowrap
        max-width: 100%
        background-color: $normalBlue
        padding: 2px 10px
        color: $white
        border-radius: 8px
        margin-bottom: 2px