@import 'src/sass/variables'

// Mobile first styles
.calendar-section 
    display: flex
    flex-direction: column
    color: $darkBlue
    .calendar-container
        .calendar-month
            display: flex
            justify-content: center
            align-items: center
            gap: 10px
            margin-bottom: 30px
        .calendar-days
            display: grid
            grid-template-columns: repeat(7, 14.29%)
            grid-template-rows: repeat(5, 135px)
            border: 2px solid $normalBlue
            border-radius: 10px
        .week-days
            display: grid
            grid-template-columns: repeat(7, 14.29%)
            color: $darkBlue
            text-align: center
            font-size: 0.8em
            font-weight: bold

// Tablet styles
@media screen and (min-width: 576px)
    .calendar-container
        padding: 25px !important
        .calendar-days
            grid-template-rows: repeat(5, 150px) !important
            border-radius: 25px !important

// Desktop styles
@media screen and (min-width: 992px)
    .calendar-section 
        flex-direction: row
        .calendar-container
            padding: 50px
            width: 100%